/*
 * Globals
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

* {
  font-family: "Source Sans Pro", sans-serif;
}

 /* Links */
 a,
 a:focus,
 a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
  height: 100%;
  /*background-color: #333;*/
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);

  /* adding to create multiple page of cover */
  position: relative;
  position: absolute;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
 .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
}
.masthead-nav {
    float: right;
}
}


/*
 * Cover
 */

 .cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

 .mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

 @media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    position: absolute;
    top: 0;
}
.mastfoot {
    /*position: fixed;*/
    position: absolute;
    bottom: 0;
}
/* Start the vertical centering */
.site-wrapper-inner {
    vertical-align: middle;
}
/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
    width: 900px;
}
}



/* extending the style */

.mastside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /*background: #ddd;*/
  width: 14%;
  height: 100%;
  vertical-align: middle;
  padding: 30px;
  background: rgba(0,0,0,0.5)
}

.mastside .inner {
  /*background: red;*/
  width: 100%;
  height: 100%;
  position: relative;
  /*display: table-cell;*/
  vertical-align: top;
  vertical-align: middle;
}

.mastside .topside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*background: black;*/
}

.mastside .topside img {
  width: 100%;
}

.mastside .bottomside {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mastside .topside {
  /*position: absolute;
  bottom: 0;
  left: 0;*/
}

.mastside nav ul,
.mastside nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  text-align: left;
}

.mastside nav {
  padding-left: 5px;
  margin-top: 24px;
  line-height: 30px;
}

.mastside nav ul li a {
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Titillium Web', sans-serif;*/
  font-weight: 100;
  opacity: 0.5;
  font-size: 11px;
  letter-spacing: 1px;
}

.mastside nav ul li a:hover {
  text-decoration: none;
  opacity: 1.0
}

.mastside .bottomside nav ul li a {
  opacity: 0.3;
  font-size: 9px;
}

.site-wrapper-inner {
  /*background: rgba(0,0,0,0.8);*/
  /*padding-right: 40px;*/
  /*width: 1010%;*/
  /*margin-right: -10px;*/
}



#intro {
  background: url(../img/bg.jpg);
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/*#intro .cover nav {
  text-align: center;
  background: black;
  width: auto;
  float: left;
  margin: 0 auto;
  display block;
  position: relative;
  }*/

  #intro img {
      display: block;
      margin: 0 auto;
      width: 240px;
  }

  .float_center {
      float: right;

      position: relative;
      left: -50%; /* or right 50% */
      text-align: left;
      display: block;
      margin-top: 24px;
      /*font-size: 20px;*/
  }
  .cover nav > ul {
      position: relative;
      left: 50%;
  }

  #intro .cover {
      margin-top: -200px;
  }
  #intro .cover nav {
      margin: 0 auto;
      position: relative;
      display: block;
      text-align: left;
      float: right;
      left: -50%;
      margin-top: 24px;
  }
  #intro .cover nav ul {
      padding: 0px;
      margin: 0px;
      /*width: 250px;*/
      /*left: -50%;*/
      /*position: absolute;*/
      /*margin: 0 auto;*/
      background: black;
  }

  #intro .cover nav ul li {
      display: inline;
      float: left;
      margin: 0 10px; display: inline;
      text-align: center;
      margin: 0px 15px;
  }

  #intro .cover nav ul li a {
      /*font-family: 'Lato', sans-serif;*/
      font-weight: 100;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: "Source Code Pro";
      /*text-transform: uppercase;*/
  }

  #intro .cover nav ul li a:hover {
      color: orange;
  }


  #intro .cover h1,
  #intro .cover h2,
  #intro .cover h3,
  #intro .cover h4,
  #intro .cover h5 {
      padding: 0;
      margin: 0;
      /*text-align: left;*/
      text-shadow: none;
      /*font-family: 'Lato', sans-serif;*/
  }

  #intro .cover h4 {
      font-weight: 100;
      /*font-family: 'Titillium Web', sans-serif;*/
  }

  #intro .cover h1 {
      font-weight: 900;
      font-size: 100px;
  }

  #intro .button-area {
      text-align: left;
      margin-top: 20px;
  }

  #intro .button-area a {
      border: 1px solid white;
      padding: 20px 30px;
      display: inline-block;
      /*font-family: 'Lato', sans-serif;*/
      text-shadow: none; 
      font-weight: 300;
      font-size: 24px;
  }

  #intro .button-area a:hover {
      background: white;
      color: #444;
      text-decoration: none;

  }

  .masthead, .cover, .mastfoot {
      /*content: "";*/
  }

  .masthead nav ul li a,
  .masthead h3,
  .mastfoot .copyright {
      /*font-family: 'Lato', sans-serif;*/
      font-size: 9px;
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: uppercase;
  }
  .clearfix {
      clear: both;
  }

  .inner {
      /*margin-top: -100px;*/
  }

  .maskbg {
      background-color: rgba(0,0,0,0.8);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: -1;
  }

  .current {
      cursor: normal;
      /*background-color: rgba(0,0,0,0.5)*/
      /*font-family: "Source Sans Pro";*/
  }

  .current .box {
      /*margin: 20px;*/
      padding: 20px;
  }

  .current .box .box-inner {
      /*background-color: rgba(255,255,255,0.1);*/
      border-radius: 10px;
      padding: 20px;
      text-align: left;
  }

  .current .box h4 {
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 12px;
  }

  .current .box span {
      display: block;
  }

  .current .box span.title {
      font-size: 20px;
      color: white;
      /*color: #0069c2;*/
  }

  .current .box span.author {
      font-weight: 100;
      font-size: 14px;
      margin-top: 10px;
      color: orange;
  }




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
  background-color: blue;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
}
.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}

/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
    border-radius: 4px;
}

/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.featurette-heading {
    font-size: 50px;
}
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
}
}

.container {
    width: 960px;
}

.navbar-wrapper {
  margin-top: 40px;
  text-shadow: none;
}

.navbar-wrapper .navbar-brand img {
  width: 200px;
  margin-top: -20px;
}

.navbar-wrapper .navbar-nav {
  font-weight: 100;
  margin-top: 10px;
}

.navbar-wrapper .navbar-nav li a {
  font-size: 16px;
}

.navbar-wrapper .navbar-nav li:hover {
  background-color: none;
}

#header {
  /*padding-top: 120px;*/
  text-shadow: none;
  background: url(../img/bg-header.jpg);
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#header .title {
  top: 120px;
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
} 

#header .filter {
  position: absolute;
  bottom: -20px;
  display: block;
  text-align: center;
  width: 100%;
}

#header .mask {
  width: 100%;
  height: 300px;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: -1;
}


#header .title h1 {
  font-size: 36px;
  font-weight: 100;
  color: orange;
}

#header .title h4 {
  font-weight: 100;

}

.filter .btn {
  border: 1px solid #ddd;
  font-weight: 100;
}

.filter .btn:hover {
  background-color: #efefef;
}

.filter .btn.active {
  background-color: #006ac2;
  border: 1px solid #006ac2;
  color: white;
}


.post, .post a {
    text-shadow: none;
    color: #444;
}

.post .single-post {
  text-align: left;
  margin-top: 50px;
}

.post .single-post ul,
.post .single-post ul li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.post .single-post .title {
    font-weight: 500;
}

.post .single-post .meta li {
    font-size: 20px;
    font-weight: 100;
    color: #aaa;
    margin-right: 20px;
}

.post .single-post .meta li a {
    color: orange;
}

.post .single-post .desc {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 100;
}

.post .single-post .action li a{
    text-transform: uppercase;
    color: orange;
    margin-right: 24px;
}


footer {
    background-color: #222;
    margin-top: 100px;
    padding: 100px;
    text-shadow: none;
    font-weight: 100;
}

footer .copy {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    color: #888;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer ul, 
footer ul li {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}


footer ul li a  {
    margin: 0px 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer ul li a:hover {
    color: orange;
}

#header.detail .title h4 {
    font-size: 36px;
    font-weight: 700;
}

#header.detail .filter .btn {
    color: #006ac2;
    font-weight: 200;
}

#header.detail .filter .btn.active {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-weight: 600;
}

.post.detail .single-post .meta,
.post.detail .single-post .action {
    text-align: center;
    display: block;
    width: 100%;
}

.navbar-wrapper .navbar-nav li a {
    color: white;
}

.navbar-wrapper .navbar-nav li a:hover {
    background-color: transparent;
    color: orange;
}

.cover nav ul li a {
    color: white;
}




